# vim temporary files
*.swp
*.swo

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


wasm/test_page/node_modules
/build
/build-native
/build-wasm
/emsdk
models
wasm/module/worker/bergamot-translator-worker.*
wasm/module/browsermt-bergamot-translator-*.tgz

# VSCode
.vscode
