[submodule "3rd_party/marian-dev"]
	path = 3rd_party/marian-dev
	url = https://github.com/browsermt/marian-dev
[submodule "3rd_party/ssplit-cpp"]
	path = 3rd_party/ssplit-cpp
	url = https://github.com/browsermt/ssplit-cpp
[submodule "bergamot-translator-tests"]
	path = bergamot-translator-tests
	url = https://github.com/browsermt/bergamot-translator-tests
